@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
@import url(../src/reset.css);
body {
  list-style-type: none;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.bg-theme-checkbox input {
  cursor: pointer;
}

.slider {
  display: inline-block;
  width: 40px;
  height: 20px;
  background-color: #ccc;
  border-radius: 50px;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: white;
}
ul {
  padding: 0;
  margin: 0;
}
.dropdown-overlay {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: 5000 !important; /* Dropdown diğer modalın altında */
}

.modal-overlay {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 6000 !important; /* Modal, dropdown üstünde */
  display: flex;
  align-items: center;
  justify-content: center;
}

.delete-modal-overlay {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 7000 !important; /* Delete Modal en üstte */
  display: flex;
  align-items: center; /* Dikey ortalar */
  justify-content: center;
}

/* Bu container'lar stacking context oluşturmasın */
.boardPage, 
.main-content, 
.boardColumns, 
.boardColumn {
  position: relative !important;
  z-index: 1 !important; /* Modalın altında kalır */
}

.header, 
.sideNav-board, 
.dropdown {
  z-index: 100 !important; /* Modalın altında kalacak kadar düşük değer */
}




.modal-content {
  background: white;
  padding: 24px;
  border-radius: 8px;
  width: 90%;
  max-height: 90%;
  max-width: 500px;
  margin-inline: 16px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  overflow: scroll;
  scrollbar-width: none; 
  -ms-overflow-style: none;
  z-index: 10001 !important; 

  form {
    display: flex;
    flex-direction: column;

    label {
      font-weight: 700;
      font-size: 12px;
      line-height: 15.12px;
      letter-spacing: 0px;
      color: #828fa3;
      margin-bottom: 8px;
    }
  }

  h3 {
    font-weight: 700;
    font-size: 18px;
    line-height: 22.68px;
    letter-spacing: 0px;
    color: #000112;
    margin-bottom: 24px;
  }
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background: none;
  font-size: 20px;
  cursor: pointer;
}

.board-container {
  width: 100%;
  overflow: hidden;
}

.boardPage {
  display: flex;
  height: 100vh;
  background-color: #f4f7fd;
  transition: all 0.3s ease;
  width: 100%;
  overflow: hidden;
}
.sideNav-board {
  display: flex;
  flex-direction: column;
  z-index: auto;
  left: 0;
  background-color: white;
  border-right: 1px solid #e4ebfa;
  transition: width 0.4s ease, transform 0.4s ease;
  overflow: hidden;

  h2 {
    font-weight: 700;
    font-size: 12px;
    line-height: 15.12px;
    letter-spacing: 2.4px;
    color: #828fa3;
    margin-bottom: 19px;
    padding-left: 24px;
  }
}

.sideNav-board button {
  background: none;
  border: none;
  color: #828fa3;
  font-weight: 700;
  font-size: 15px;
  line-height: 18.9px;
  letter-spacing: 0px;
}

.sideNav-board.closed {
  width: 0;
  min-width: 0;
  padding: 0;
  border: none;
  transition: width 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.sideNav-board.open body {
  overflow-y: hidden;
}

.main-content {
  flex: 1;
  transition: width 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  overflow: auto;
}

.hideIcon {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;

  p {
    font-weight: 700;
    font-size: 15px;
    line-height: 18.9px;
    letter-spacing: 0px;
    color: #828fa3;
  }
}

.showSidebar-btn {
  position: fixed;
  bottom: 20px;
  background-color: #635fc7;
  width: 56px;
  height: 48px;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.showSidebar-btn svg {
  fill: white;
  width: 16px;
}

.allBoards li {
  padding-right: 24px;
  margin-bottom: 10px;
}

.allBoards button {
  display: flex;
  align-items: center;
  gap: 9px;
  width: 100%;
}

.board button {
  padding: 14px 68px 15px 24px;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
}

.board button:hover {
  background-color: #554dcf;
  color: #ffffff;
}

.board button:hover svg path {
  fill: white;
}

.sideNav-boardBtn {
  background: none;
  background-color: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: start;
}
.modal-content {
  margin: 20px;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
.sideNav-board {
  display: none;
}

.sideNav-board button:active {
  background-color: #635fc7;
  border-radius: 0 25px 25px 0;
  color: #ffffff;
}

.board {
  color: inherit;
}

.newBoardName {
  display: flex;
  flex-direction: column;
}

.newBoardName input {
  height: 40px;
  border: 1px solid #828fa340;
  border-radius: 4px;
  margin-bottom: 24px;
}
.newBoardName input::placeholder {
  padding: 10px;
  font-weight: 500;
  font-size: 13px;
  line-height: 23px;
  letter-spacing: 0px;
  opacity: 25%;
}
.column-input {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}
.column-input input {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #828fa340;
}

.column-input button {
  border: none;
  background-color: white;
}
.addNewBtn {
  width: 100%;
  border: none;
  padding: 8px 50px;
  background-color: #635fc71a;
  border-radius: 20px;
  color: #635fc7;
  font-weight: 700;
  font-size: 13px;
  line-height: 23px;
  letter-spacing: 0px;
  text-align: center;
  margin-bottom: 24px;
}
.saveBtn {
  border: none;
  padding: 8px 50px;
  width: 100%;
  background-color: #635fc7;
  border-radius: 20px;
  color: #fff;
  font-weight: 700;
  font-size: 13px;
  line-height: 23px;
  letter-spacing: 0px;
  text-align: center;
  margin-bottom: 24px;
}
.dark .newBoardName {
  display: flex;
  flex-direction: column;
}
.dark .column-input button {
  border: none;
  background-color: inherit;
}
.dark .addNewBtn {
  background-color: #fff;
}
.board button:focus {
  background-color: #635fc7;
  color: #fff;
}
.dark .saveBtn {
  background-color: #635fc7;
}
.board button::after {
  background-color: #635fc7;
}
.background-theme {
  appearance: none;
  width: 71px;
  height: 26px;
  border-radius: 13px;
  background-color: #a8a4ff;
  padding: 5px;
}
.background-theme::-webkit-slider-thumb {
  appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #fff;
}
.navBar-themeBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  gap: 23px;
  background-color: #f4f7fd;
  width: 235px;
  height: 48px;
  margin-bottom: 30px;
}
.navBar-sideBar span {
  display: flex;
  align-items: center;
  justify-content: start;
  margin-left: 30px;
}
.navBar-sideBar span a {
  font-weight: 700;
  font-size: 15px;
  line-height: 18.9px;
  letter-spacing: 0px;
  color: #828fa3;
  margin-left: 10px;
}
.white-mode-background {
  font-size: 20px;
  color: #7d879c;
}

.bg-theme-checkbox {
  position: relative;
  width: 50px;
  height: 25px;
  background: #6c63ff;
  border-radius: 25px;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 3px;
}

.bg-theme-checkbox input {
  display: none;
}

.bg-theme-checkbox .slider {
  width: 19px;
  height: 19px;
  background: white;
  border-radius: 50%;
  position: absolute;
  left: 5px;
  transition: 0.3s;
}

.bg-theme-checkbox input:checked + .slider {
  left: 26px;
}

.boardColumns {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 16px;
  padding: 16px;
  white-space: nowrap;
  scrollbar-width: none;
  border-top: 1px solid #e4ebfa;
}

.boardColumns::-webkit-scrollbar {
  display: none;
}

.boardColumns {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 16px;
  padding: 16px;
  white-space: nowrap;
  scrollbar-width: none;
  background-color: #f5f7fc;
  height: 100vh;
  min-height: 100%;
  align-items: stretch;
  position: relative;
  z-index: 0;
}

.todo {
  background-color: white;
  cursor: grab;
  margin-bottom: 12px;
  padding: 16px 24px;
  border-radius: 8px;
  -webkit-box-shadow: 0px 0px 56px -24px rgba(196, 196, 196, 1);
  -moz-box-shadow: 0px 0px 56px -24px rgba(196, 196, 196, 1);
  box-shadow: 0px 0px 56px -24px rgba(196, 196, 196, 1);

  p {
    font-weight: 700;
    font-size: 15px;
    line-height: 18.9px;
    letter-spacing: 0px;
    color: #000112;
  }

  span {
    font-weight: 700;
    font-size: 12px;
    line-height: 15.12px;
    letter-spacing: 0px;
    color: #828fa3;
  }
}

.todo:hover {
  transition: transform 0.4s ease;
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);

  p {
    color: #635fc7;
  }
}

.new-column {
  background: linear-gradient(
    180deg,
    #e9effa 0%,
    rgba(233, 239, 250, 0.5) 100%
  );
  border: none;
  border-radius: 6px;
  margin-top: 45px;
  cursor: pointer;

  p {
    font-weight: 700;
    font-size: 24px;
    line-height: 30.24px;
    letter-spacing: 0px;
    text-align: center;
    color: #828fa3;
  }
}

.boardColumn {
  display: flex;
  flex-direction: column;
  flex: 0 0 280px;
  background-color: #f5f7fc;
  height: 100%;
  padding: 12px;
  gap: 7px;

  .columnTodo {
    padding: 23px 16px;
    box-shadow: 0px 4px 6px 0px #364e7e1a;
    background-color: white;
    border-radius: 8px;
    cursor: pointer;

    p {
      font-weight: 700;
      font-size: 15px;
      line-height: 18.9px;
      letter-spacing: 0px;
      color: #000112;
    }
  }

  .columnTodo {
    transition: transform 0.2s ease, margin 0.2s ease;
    margin-bottom: 8px;
    padding: 10px;
    background-color: var(--task-bg);
    border-radius: 8px;
    cursor: grab;
  }

  .columnTodo:active {
    cursor: grabbing;
  }

  .boardColumnTitle {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 10px;
  }

  .color-indicator {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #888;
  }

  h3 {
    font-weight: 700;
    font-size: 12px;
    line-height: 15.12px;
    letter-spacing: 2.4px;
    color: #828fa3;
  }

  .new-column {
    background: rgba(200, 200, 200, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #666;
    font-weight: bold;
    cursor: pointer;
    min-width: 250px;
  }
}

.boardColumnTitle {
  display: flex;
  align-items: center;
  gap: 10px;

  h3 {
    font-size: 16px;
  }
}

.addColumnModalOverlay {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex !important;
  align-items: center;
  justify-content: center;
  z-index: 9999999 !important;
}

.addColumnModalContent {
  background: white;
  padding: 24px;
  border-radius: 8px;
  width: 100%;
  max-width: 500px;
  margin-inline: 16px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  z-index: 10000000 !important;

  h2 {
    font-weight: 700;
    font-size: 18px;
    line-height: 22.68px;
    letter-spacing: 0px;
    color: #000112;
  }

  form {
    display: flex;
    flex-direction: column;

    label {
      font-weight: 700;
      font-size: 12px;
      line-height: 15.12px;
      letter-spacing: 0px;
      color: #828fa3;
      margin-bottom: 8px;
    }

    .addColumnModalNameInput {
      margin-bottom: 24px;
      padding: 8px 16px;
      border-radius: 4px;
      border: 1px solid rgba(130, 143, 163, 0.25);
      text-shadow: 0 0 0 rgba(0, 1, 18, 0.25);
    }

    .addColumnModalColumnInput {
      margin-bottom: 12px;
      display: flex;

      input {
        width: 100%;
        padding: 8px 16px;
        border-radius: 4px;
        border: 1px solid rgba(130, 143, 163, 0.25);
        color: #000112;
      }

      button {
        background-color: transparent;
        border: none;
        margin-left: 10px;
      }
    }

    .addColumnModalAddBtn {
      font-weight: 700;
      font-size: 13px;
      line-height: 23px;
      letter-spacing: 0px;
      text-align: center;
      color: #635fc7;
      background-color: rgba(99, 95, 199, 0.1);
      border: none;
      padding-block: 8px;
      border-radius: 20px;
    }

    .addColumnModalSaveBtn {
      font-weight: 700;
      font-size: 13px;
      line-height: 23px;
      letter-spacing: 0px;
      text-align: center;
      color: #ffffff;
      background-color: #635fc7;
      border: none;
      padding-block: 8px;
      border-radius: 20px;
      margin-top: 24px;
    }
  }

  .addColumncloseBtn {
    display: flex;
    justify-self: end;
    background: transparent;
    border: none;
    width: 30px;
    height: 30px;
  }
}

.taskModalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.taskModalContent {
  animation: myAnim 2s ease 1s 2 alternate-reverse both;
  background: white;
  padding: 24px;
  border-radius: 8px;
  width: 90%;
  max-width: 500px;
  position: relative;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  max-height: 90%;
  overflow: auto;
  scrollbar-width: none;
  min-height: auto;
  z-index: 100;

  .taskModalCloseBtn {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background: none;
    font-size: 20px;
    cursor: pointer;
  }

  h2 {
    font-weight: 700;
    font-size: 18px;
    color: #000112;
  }

  .addTaskInputGroup {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
  }

  label {
    font-weight: 700;
    font-size: 12px;
    color: #828fa3;
    margin-bottom: 8px;
  }

  textarea {
    min-height: 112px;
    height: auto;
    resize: none;
    overflow-y: hidden;
    background-color: transparent;
    border: 1px solid #828fa340;
    border-radius: 4px;
    padding: 8px 16px;
  }

  .subtask-section {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
  }

  .subtaskInput {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
  }

  .subtaskInput input {
    flex: 1;
  }

  .subtaskInput button {
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
    margin-left: 8px;
    color: #828fa3;
  }

  .addSubtaskBtn {
    font-weight: 700;
    font-size: 13px;
    color: #635fc7;
    background-color: rgba(99, 95, 199, 0.1);
    border: none;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 12px;
  }

  .addTaskInputGroup select {
    appearance: none;
    background-color: white;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
  }

  .submit-btn-group {
    margin-top: 16px;
  }

  .create-task-btn {
    font-weight: 700;
    font-size: 13px;
    color: white;
    background-color: #635fc7;
    border: none;
    padding: 12px;
    border-radius: 20px;
    cursor: pointer;
    width: 100%;
  }

  .create-task-btn:hover {
    background-color: #554dcf;
  }

  .taskModalCloseBtn {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background: none;
    font-size: 20px;
    cursor: pointer;
  }

  .taskTitle {
    font-weight: 700;
    font-size: 18px;
    line-height: 22.68px;
    letter-spacing: 0px;
    color: #000112;
  }

  .taskDescription {
    font-weight: 500;
    font-size: 13px;
    line-height: 23px;
    letter-spacing: 0px;
    color: #828fa3;
    margin-bottom: 24px;
  }

  .subtasksLabel {
    font-weight: 700;
    font-size: 12px;
    color: #828fa3;
    margin-bottom: 16px;
    display: block;
  }

  .subtasksContainer {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 24px;
  }

  .subtaskItem {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    cursor: pointer;
    background-color: #f4f7fd;
    padding: 13px 12px;
    border-radius: 4px;
  }

  .subtaskItem input {
    cursor: pointer;
  }

  .notCompleted {
    font-weight: 700;
    font-size: 12px;
    line-height: 15.12px;
    letter-spacing: 0px;
    color: #000112;
  }

  .completed {
    font-weight: 700;
    font-size: 12px;
    line-height: 15.12px;
    letter-spacing: 0px;
    text-decoration: line-through;
    color: rgba(0, 1, 18, 0.5);
  }

  .statusLabel {
    font-weight: 700;
    font-size: 12px;
    color: #828fa3;
    margin-bottom: 8px;
    display: block;
  }

  .selectWrapper {
    position: relative;
    display: inline-block;
    width: 100%;
    cursor: pointer;
  }

  .statusSelect {
    width: 100%;
    padding: 12px;
    border-radius: 6px;
    border: 2px solid #635fc7;
    background: white;
    font-size: 14px;
    font-weight: 600;
    color: #000112;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .statusSelect img {
    width: 16px;
    height: 16px;
  }

  .statusDropdown {
    position: fixed;
    width: 60%;
    max-width: 450px;
    background: white;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    margin-top: 4px;
    z-index: 1000000;
  }

  /* Seçenekler */
  .statusOption {
    padding: 10px;
    font-size: 14px;
    color: #828fa3;
    cursor: pointer;
    transition: background 0.2s;
  }

  .statusOption:hover {
    background: rgba(99, 95, 199, 0.1);
  }

  .statusOption.selected {
    font-weight: bold;
    color: black;
  }
}

.board-subtasks-info {
  font-weight: 700;
  font-size: 12px;
  line-height: 15.12px;
  letter-spacing: 0px;
  color: #828fa3;
  margin-top: 8px;
}

.emptyBoard {
  width: 100%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  gap: 32px;

  h5 {
    font-weight: 700;
    font-size: 18px;
    line-height: 22.68px;
    letter-spacing: 0px;
    text-align: center;
    color: #828fa3;
  }

  button {
    font-weight: 700;
    font-size: 15px;
    line-height: 18.9px;
    letter-spacing: 0px;
    color: #ffffff;
    padding: 15px 18px;
    background-color: #635fc7;
    border: none;
    border-radius: 24px;
    justify-content: center;
    max-width: 174px;
    margin-inline: auto;
  }
}

.deleteModal {
  background-color: white;
  padding: 24px 28px;
  border-radius: 8px;
  max-width: 400px;
  width: 90%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  text-align: center;
  z-index: 1000;
  top: 50%;
  left: 50%;
}

.deleteModal h4 {
  font-size: 20px;
  font-weight: 700;
  color: #ea5555;
  margin-bottom: 16px;
}

.deleteModal p {
  font-size: 14px;
  color: #828fa3;
  line-height: 1.5;
  margin-bottom: 24px;
}

.deleteModal button {
  width: 100%;
  padding: 12px;
  font-weight: 700;
  font-size: 14px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  margin-bottom: 12px;
}

.deleteModal button:first-of-type {
  background-color: #ea5555;
  color: white;
}

.deleteModal button:first-of-type:hover {
  background-color: #ff9898;
}

.deleteModal button:last-of-type {
  background-color: #f0f0f0;
  color: #635fc7;
}

.deleteModal button:last-of-type:hover {
  background-color: #e0e0e0;
}

.delete-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 4000;
}

.emptyColumnBorder {
  width: 100%;
  height: 100%;
  border: 3px dashed #c7cdd9;
  border-radius: 5px;

  p {
    font-weight: 700;
    font-size: 20px;
    line-height: 18.9px;
    letter-spacing: 0px;
    color: #000112;
  }
}

.desktopHeaderName {
  font-weight: 700;
  font-size: 24px;
  line-height: 30.24px;
  letter-spacing: 0px;
  color: #000112;
  padding-left: 24px;
}

.kanbanLogo svg path {
  color: #000112;
}

.viewTaskTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.subtaskItem {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.subtaskItem input {
  display: none;
}

.subtaskItem .checkmark {
  width: 16px;
  height: 16px;
  border: 1px solid #828fa33f;
  background-color: #ffffff;
  border-radius: 2px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s ease;
}

.subtaskItem .checkmark::after {
  content: "";
  width: 5px;
  height: 7.76px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  opacity: 0;
  transition: opacity 0.2s ease;
}

.subtaskItem input:checked + .checkmark {
  background-color: #635fc7;
}

.subtaskItem input:checked + .checkmark::after {
  opacity: 1;
}

.deleteModalBtns {
  display: flex;
  flex-direction: column;
}

form input {
  border: 1px solid #828fa340;
  padding: 8px 16px;
  background-color: transparent;
  border-radius: 4px;
  color: #000112;
}

.modalHeader {
  display: flex;
  justify-content: space-between;

  button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
}

.createNewBoardBtn {
  display: flex;
  background-color: #635fc7;
  border: none;
  border-radius: 20px;
  width: 100%;
  padding: 8px;
  justify-content: center;
  font-weight: 700;
  font-size: 13px;
  line-height: 23px;
  letter-spacing: 0px;
  text-align: center;
  color: white;
}

.dragged-task {
  background: #f4f4f7;
  padding: 23px 16px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  font-weight: bold;
  cursor: grabbing;
  opacity: 0.9;
  position: fixed;
  z-index: 1100; /* Modalın üzerinde olmalı */
  pointer-events: none;
  width: 256px;

  .task-title {
    font-weight: 700;
    font-size: 15px;
    line-height: 18.9px;
    letter-spacing: 0px;
    color: #000112;
  }

  span {
    font-weight: 700;
    font-size: 12px;
    line-height: 15.12px;
    letter-spacing: 0px;
    color: #828fa3;
  }
}

.emptyColumnBorder {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  border-radius: 8px;
  border: 2px dashed #d1d5db;
  background-color: rgba(233, 239, 250, 0.5);
  transition: border-color 0.3s ease, background-color 0.3s ease;
}

.emptyColumnBorder:hover {
  border-color: #a0aec0;
  background-color: #f9fafb;
}

.add-column-btn {
  position: relative;
  overflow: hidden;
  flex: 0 0 280px;
  margin-top: 45px;
  z-index: 1;
  border-radius: 7px;
  color: #635fc7;
  font-weight: 700;
  font-size: 24px;
  line-height: 30.24px;
  letter-spacing: 0px;
  text-align: center;
  -webkit-box-shadow: 0px 0px 56px -24px rgb(101, 101, 101);
  -moz-box-shadow: 0px 0px 56px -24px rgb(123, 123, 123);
  box-shadow: 0px 0px 56px -24px rgb(120, 120, 120);
}

.add-column-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgb(176, 175, 227, 0.5) 0%,
    rgba(233, 239, 250, 1) 50%
  );
  transition: opacity 0.6s ease;
  opacity: 1;
  z-index: -1;
}

.add-column-btn:hover::before {
  background: linear-gradient(
    360deg,
    rgba(233, 239, 250, 1) 0%,
    rgb(176, 175, 227, 0.5) 50%
  );
  opacity: 0.5; 
}

.allColumns {
  display: flex;
}

.detailBtn img {
  width: 4px;
  height: 16px;
  transform: scaleY(1);
  transform-origin: center; 
  transition: transform 0.4s ease; 
}

.detailBtn:hover img {
  transform: scale(1.3);
}

.header {
  display: flex;
  color: white;
  background-color: white;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 2000;

  .header-top,
  .header-down {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 20px 16px;
  }

  .addBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: #635fc7;
    width: 48px;
    height: 32px;
    border-radius: 24px;
  }

  .addBtn:hover,
  .headerAddTaskBtn:hover {
    transition: transform 0.4s ease;
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }

  .kanbanLogo {
    display: flex;
    min-width: 260px;
    gap: 15.76px;
    border-right: 1px solid #e4ebfa;
    padding-left: 26px;
    padding-block: 32.78px;
  }

  .header-top-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    width: 100%;
  }

  .headerDropdown {
    display: flex;
  }

  .headerAddTaskBtn {
    text-decoration: none;
    padding: 10px 18px;
    border: none;
    border-radius: 24px;
    background-color: inherit;
    background-color: #635fc7;
    display: flex;
    align-items: center;
    justify-content: center;
    color: inherit;
  }
}

.dropdown {
  font-weight: 700;
  font-size: 15px;
  line-height: 18.9px;
  letter-spacing: 0px;
  position: relative;
  z-index: 4000;
  display: inline-block;
  background-color: white;

  .navBar-themeBtn {
    margin-bottom: 0px;
    margin-left: 14px;
  }

  .dropdown-btn {
    display: flex;
    align-items: center;
    background-color: inherit;
    color: black;
    border: none;
    cursor: pointer;
    gap: 8px;
  }

  .dropdownMenu {
    display: flex;
    gap: 10px;
    flex-direction: column;
    min-width: 264px;
    position: fixed;
    top: 80px;
    background-color: white;
    border-radius: 8px;
    width: 150px;
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top;
    transition: opacity 0.3s ease, transform 0.3s ease;
    z-index: 2100;

    .light-dark-mode {
      display: flex;
      align-items: center;

      button {
        border: none;
        background-color: inherit;
      }
    }

    .modal-btn {
      color: #635fc7;
      display: flex;
      align-items: center;
      gap: 12px;
      padding: 4px 24px;
      background-color: transparent;
      border: none;
    }
  }

  .dropdownMenu.show {
    opacity: 1;
    transform: scaleY(1);
    z-index: 100;
    padding: 16px 24px 16px 0px;
  }

  .dropdown-btn:focus img {
    transform: rotate(180deg);
  }

  li {
    width: 100%;
    display: flex;
    flex-direction: row;
    text-decoration: none;
    background-color: inherit;

    .dropdownBtn,
    p {
      display: flex;
      align-items: center;
      border: none;
      list-style: none;
      padding: 14px 24px;
      width: 240px;
      gap: 12px;
      color: #828fa3;
      background-color: white;
      border-top-right-radius: 100px;
      border-bottom-right-radius: 100px;
      z-index: 2100;
    }
  }

  .dropdownBtn:focus {
    color: white;
    background-color: #635fc7;
  }

  .dropdownBtn:focus img {
    content: url("img/dropdown-white-menu-icon.svg");
  }
}

.dropdown-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10000;
}

li.active button {
  background-color: #635fc7 !important;
  color: white !important;
}

li.passive button:hover svg path {
  fill: #635fc7 !important;
}

li.passive button:hover {
  background-color: rgba(99, 95, 199, 0.1) !important;
  color: #635fc7 !important;
}

.edit-delete-board {
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  padding: 10px 30px;
  background-color: white;
  position: absolute;
  border-radius: 8px;
  box-shadow: 0 0 4px 6px rgba(0, 0, 0, 0.1);
  right: 0;
  top: 80px;
  z-index: 1;

  .editBoard,
  .deleteBoard {
    border: none;
    display: block;
    background-color: transparent;
  }

  .editBoard {
    color: #828fa3;
  }

  .deleteBoard {
    color: #ea5555;
  }
}

@media (width > 767px) {
  .header {
    a {
      padding: 10px 18px;
    }
  }

  body.light {
    background-color: #635fc7;
  }
  body.dark {
    background-color: #1a1a2e;
    color: white;
  }
  .modal-content {
    padding: 32px;
    width: 480px;
  }

  .sideNav-board {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 261px;
    height: 100%;
    background-color: white;
    padding-top: 1rem;
    padding-bottom: 2rem;
    border-right: 1px solid #e4ebfa;
    cursor: default;
    overflow-x: hidden;
  }
  .sideNav-board .newEditBoardPage h2 {
    font-weight: 700;
    font-size: 18px;
    line-height: 22.68px;
    letter-spacing: 0px;
    color: #000112;
    margin-bottom: 24px;
  }

  .newBoardColumns {
    display: flex;
    flex-direction: column;
  }

  .newBoardName input {
    height: 40px;
    border: 1px solid #828fa340;
    border-radius: 4px;
    margin-bottom: 24px;
  }
  .newBoardName input::placeholder {
    padding: 10px;
    font-weight: 500;
    font-size: 13px;
    line-height: 23px;
    letter-spacing: 0px;
    opacity: 25%;
  }
  .column-input {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
  }
  .column-input input {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 385px;
    border-radius: 4px;
    border: 1px solid #828fa340;
  }

  .column-input button {
    border: none;
    background-color: white;
  }
  .addNewBtn {
    border: none;
    padding: 8px 50px;
    background-color: #635fc71a;
    border-radius: 20px;
    color: #635fc7;
    font-weight: 700;
    font-size: 13px;
    line-height: 23px;
    letter-spacing: 0px;
    text-align: center;
    margin-bottom: 24px;
    margin-top: 12px;
  }
  .saveBtn {
    border: none;
    padding: 8px 50px;
    width: 100%;
    background-color: #635fc7;
    border-radius: 20px;
    color: #fff;
    font-weight: 700;
    font-size: 13px;
    line-height: 23px;
    letter-spacing: 0px;
    text-align: center;
    margin-bottom: 24px;
  }
  .sideNav-board .addNewBtn {
    padding: 8px 50px;
    background-color: #635fc71a;
    border-radius: 20px;
    color: #635fc7;
    font-weight: 700;
    font-size: 13px;
    line-height: 23px;
    letter-spacing: 0px;
    text-align: center;
    margin-bottom: 24px;
  }
  .sideNav-board .addNewBoardBtn button {
    padding: 8px 150px;
    background-color: #635fc7;
    border-radius: 20px;
    color: #ffffff;
    font-weight: 700;
    font-size: 13px;
    line-height: 23px;
    letter-spacing: 0px;
    text-align: center;
    margin-bottom: 24px;
  }
  .navBar-bottom {
    margin-left: 15px;
  }

  .modal-btn:first-child {
    color: #635fc7;
    align-items: center;
  }

  .modal-btn {
    padding: 14px 38px 15px 24px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
  }
}


